/*global*/

a.link {
    color: #0093d8;
    text-decoration: underline;
    transition: all .3s ease;
}

a.link:hover {
    color: #fff;
}

section:not(.first-section) {
    padding: 5% 0;
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: 30px;
}

p {
    font-size: 16px;
    margin-bottom: 30px;
}


/*header*/

.bg-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 0 1rem;
}

.navbar .navbar-brand {
    padding: 1rem 0;
}

.navbar-expand-md .navbar-collapse {
    height: 82px;
}

.navbar-nav {
    height: 100%;
    align-items: center;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all .3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #0093d8;
}

.dropdown-menu {
    font-size: 18px;
    color: #fff;
    background-color: #0093d8;
    border: none;
    border-radius: 0;
    padding: 0;
}

.dropdown-item {
    color: #fff;
    padding: 15px;
}

.dropdown-item:hover {
    background-color: #007bb5;
    color: #fff;
}

#logo {
    max-height: 50px;
    filter: grayscale(100) brightness(100);
}


/*hero*/

.first-section {
    margin-top: -76px;
}

.carousel-caption {
    text-align: left;
    bottom: 25%;
}

.carousel-indicators {
    justify-content: left;
    bottom: 10%;
    margin: auto;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 7px;
    margin-right: 7px;
    cursor: pointer;
}

.carousel-indicators .active {
    width: 19px;
    height: 19px;
    background-color: #0093d8;
    margin-top: -2px;
}

.hero-title {
    font-size: 3rem;
}

.hero-desc {
    font-size: 1.5rem;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}


/*about*/

a.tovabb {
    text-align: right;
    display: block;
}

a.tovabb:hover {
    color: #0093d8;
    opacity: .6;
}

#about ul {
    margin: 0.75em 0;
    padding: 0 1em 0 3em;
    list-style: none;
}

#about li:before {
    content: "";
    border-color: transparent #0093d8;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}


/*parterek*/

.partnerek-cont {
    border: 1px solid #caccce;
    padding: 25px;
    margin: auto;
    max-width: 100%;
    text-align: center;
}

.partnerlogo {
    max-width: 100%;
    max-height: 250px;
}


/*footer*/

footer {
    background-color: #2d333d;
    color: #fff;
    padding: 25px 0;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: start;
}

.social-icons img {
    width: 60px;
    padding: 15px;
    margin-right: 15px;
}

.social-icons img.facebook {
    background-color: #3b5998;
}

.social-icons img.linkedin {
    background-color: #0097da;
}

.social-icons img.twitter {
    background-color: #00ccff;
}

.form-control {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 0;
}


/********************MOBIL**********************/

@media (max-width: 575px) {
    .carousel-item img {
        min-height: 300px;
        object-fit: cover;
    }
    .partnerek-cont {
        display: block;
        padding: 25px 0;
    }
    .partnerek-cont>.col:not(:first-child) {
        border-top: 1px solid #caccce;
        margin-top: 15px;
        padding-top: 15px;
    }
    .social-icons {
        margin-bottom: 30px;
    }
}